
  #certificatesList li{
    background-color: rgb(174, 200, 247);
  }
  #educationContent{
    background-color: rgb(174, 200, 247);
  }
  ul{
    background-color:rgb(174, 200, 247);
    color: darkblue;
  }
  body{
    background-color:#003366;
  }
  h1{
    color:#b29317;
    font-size:60px;text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }